/*========Fonts===========*/

@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

/*========Universal===========*/
p {
  font-size: 16px;
}

/*=======Header==========*/

#header-logo {
    width: 90px;
}

#logo-style {
    font-family: 'Satisfy', cursive;
    color: #ff827b;
    margin-top: 20px;
}
nav {
  margin-top: 20px;
}
.nav-tabs {
  border: transparent;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  border: transparent;
  color: #61AEE6;
}

.nav-font {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #61AEE6;
}

/*============Jumbotron===========*/

.jumbotron {
    background-image: url('../img/hero.jpg');
    height: 450px;
    color: #fff;
    background-size: cover;
    background-position: center;
}

.jumbotron h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}


/*=========Thumbnails========*/

.thumb-background {
    background-color: #eee;
    border-radius: 5%;
    margin-left: 4px; /* split thumbnails */
}

.thumb-background img {
  margin: 10px 0px;
}

.caption button {
  margin-bottom: 10px;
}

.caption .text-justify {
  font-size: 16px;
}

/*=========Services=========*/
.service-adopt {
  color: #61AEE6;
}


/*======Footer========*/

footer {
  background-color: #231f20;
  padding-top: 30px;
  margin-top: 60px;
}

.right-border {
  border-right: 1px solid #333;
}

#footer-logo {
  height: 60px;
}

footer a {
  text-decoration: none;
  color: #bfc0c1;

}
footer a:hover {
  text-decoration: none;
  color: #fff;
}

a span {
  margin-left: 4px;
}

.copyright {
  color: #4F4F4F;
  margin-bottom: 15px;
}
